In [0]:
from pandas_datareader import data
import statsmodels.formula.api as sm
import pandas as pd

## import data

In [0]:
SS = data.DataReader(name='005930.KS',data_source='yahoo',start='2000-01-01')

In [0]:
SS.head()

              High     Low    Open   Close      Volume  Adj Close
Date
2000-01-04  6110.0  5660.0  6000.0  6110.0  74195000.0   0.090599
2000-01-05  6060.0  5520.0  5800.0  5580.0  74680000.0   0.082740
2000-01-06  5780.0  5580.0  5750.0  5620.0  54390000.0   0.083333
2000-01-07  5670.0  5360.0  5560.0  5540.0  40305000.0   0.082147
2000-01-10  5770.0  5580.0  5600.0  5770.0  46880000.0   0.085558

In [0]:
(0.082740-0.090599)/0.090599

-0.08674488680890523

In [0]:
SS.loc[:,'Adj Close'].head()

Date
2000-01-04    0.090599
2000-01-05    0.082740
2000-01-06    0.083333
2000-01-07    0.082147
2000-01-10    0.085558
Name: Adj Close, dtype: float64

In [0]:
SS['ret']=SS['Adj Close'].pct_change(1)

In [0]:
SS['Y']=(SS['ret'] >= 0)*1

In [0]:
SS['X'] = SS['Volume'].pct_change(1)

In [0]:
SS['lag_X']=SS['X'].shift(1)

In [0]:
SS.head()

,High,Low,Open,Close,Volume,Adj Close,ret,up,Y,X,lag_X
Date,,,,,,,,,,,
2000-01-04,6110.0,5660.0,6000.0,6110.0,74195000.0,0.090599,NaN,0,0,NaN,NaN
2000-01-05,6060.0,5520.0,5800.0,5580.0,74680000.0,0.082740,-0.086743,0,0,0.006537,NaN
2000-01-06,5780.0,5580.0,5750.0,5620.0,54390000.0,0.083333,0.007168,1,1,-0.271693,0.006537
2000-01-07,5670.0,5360.0,5560.0,5540.0,40305000.0,0.082147,-0.014235,0,0,-0.258963,-0.271693
2000-01-10,5770.0,5580.0,5600.0,5770.0,46880000.0,0.085558,0.041517,1,1,0.163131,-0.258963

In [0]:
import numpy as np

In [0]:
SS2 = SS.replace([np.inf, -np.inf], np.nan).dropna(how='all')

In [0]:
result = sm.ols(formula="Y ~ lag_X", data=SS2).fit()
print(result.summary())

#print(result.params)
#print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      Y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                    0.8505
Date:                Thu, 25 Apr 2019   Prob (F-statistic):              0.356
Time:                        06:45:26   Log-Likelihood:                -3394.2
No. Observations:                4694   AIC:                             6792.
Df Residuals:                    4692   BIC:                             6805.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.5359      0.007     73.603      0.000       0.522       0.550
lag_X          0.0002      0.000      0.922      0.356      -0.000       0.001
==============================================================================
Omnibus:                    16548.353   Durbin-Watson:                   1.932
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              782.253
Skew:                          -0.144   Prob(JB):                    1.37e-170
Kurtosis:                       1.021   Cond. No.                         28.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [0]:
SS2.shape[0] * 0.8

3844.0

In [0]:
train = SS2.iloc[:3844,:]
test = SS2.iloc[3844:,:]

In [0]:
train.tail()

,High,Low,Open,Close,Volume,Adj Close,ret,up,Y,X,lag_X
Date,,,,,,,,,,,
2015-03-02,28460.0,27340.0,27500.0,28460.0,21805600.0,275.995972,0.048637,1,1,0.676142,0.590556
2015-03-03,28740.0,28120.0,28700.0,28360.0,13748800.0,275.026215,-0.003514,0,0,-0.369483,0.676142
2015-03-04,28800.0,28200.0,28220.0,28740.0,11603100.0,278.711334,0.013399,1,1,-0.156065,-0.369483
2015-03-05,28860.0,28340.0,28780.0,28440.0,9615600.0,275.802002,-0.010439,0,0,-0.171290,-0.156065
2015-03-06,28980.0,28120.0,28280.0,28840.0,11733500.0,279.681091,0.014065,1,1,0.220257,-0.171290

In [0]:
test.head()

,High,Low,Open,Close,Volume,Adj Close,ret,up,Y,X,lag_X
Date,,,,,,,,,,,
2015-03-09,28800.0,28400.0,28800.0,28400.0,7814600.0,275.414124,-0.015257,0,0,-0.333992,0.220257
2015-03-10,28860.0,28400.0,28680.0,28420.0,10419850.0,275.608093,0.000704,1,1,0.333382,-0.333992
2015-03-11,29580.0,28360.0,28380.0,29480.0,21108650.0,285.887604,0.037298,1,1,1.025811,0.333382
2015-03-12,29460.0,28940.0,29200.0,28940.0,19153200.0,280.650879,-0.018317,0,0,-0.092637,1.025811
2015-03-13,29580.0,29100.0,29220.0,29140.0,9413100.0,282.590424,0.006911,1,1,-0.508536,-0.092637

In [0]:
SS2.iloc[3800:,:]

,High,Low,Open,Close,Volume,Adj Close,ret,up,Y,X,lag_X
Date,,,,,,,,,,,
2014-12-30,26700.0,26420.0,26600.0,26540.0,10649100.0,257.376465,-0.001505,0,0,0.104971,-0.161093
2015-01-02,26800.0,26540.0,26800.0,26600.0,8774950.0,257.958313,0.002261,1,1,-0.175991,0.104971
2015-01-05,26720.0,26260.0,26720.0,26660.0,10139500.0,258.540161,0.002256,1,1,0.155505,-0.175991
2015-01-06,26340.0,25760.0,26300.0,25900.0,15235500.0,251.169937,-0.028507,0,0,0.502589,0.155505
2015-01-07,26220.0,25640.0,25880.0,26140.0,14322750.0,253.497406,0.009267,1,1,-0.059909,0.502589
2015-01-08,26780.0,26200.0,26780.0,26280.0,14477600.0,254.855087,0.005356,1,1,0.010811,-0.059909
2015-01-09,26440.0,26280.0,26280.0,26280.0,9312400.0,254.855087,0.000000,1,1,-0.356772,0.010811
2015-01-12,26380.0,26020.0,26260.0,26320.0,8325400.0,255.242996,0.001522,1,1,-0.105988,-0.356772
2015-01-13,26800.0,26000.0,26280.0,26780.0,12293400.0,259.703888,0.017477,1,1,0.476614,-0.105988
2015-01-14,27100.0,26700.0,26780.0,26900.0,14332250.0,260.867584,0.004481,1,1,0.165849,0.476614
2015-01-15,26980.0,26580.0,26900.0,26680.0,14103900.0,258.734100,-0.008178,0,0,-0.015933,0.165849
2015-01-16,26680.0,26260.0,26680.0,26320.0,13568500.0,255.242996,-0.013493,0,0,-0.037961,-0.015933
2015-01-19,26980.0,26400.0,26580.0,26860.0,6672950.0,260.479706,0.020517,1,1,-0.508203,-0.037961
2015-01-20,27440.0,26900.0,27000.0,27440.0,13278050.0,266.104340,0.021593,1,1,0.989832,-0.508203
2015-01-21,27900.0,27200.0,27340.0,27900.0,16612650.0,270.565308,0.016764,1,1,0.251136,0.989832
2015-01-22,27980.0,27560.0,27960.0,27560.0,17957700.0,267.268097,-0.012186,0,0,0.080965,0.251136
2015-01-23,28000.0,27540.0,28000.0,27720.0,12858750.0,268.819702,0.005805,1,1,-0.283942,0.080965
2015-01-26,27900.0,27280.0,27500.0,27780.0,10153500.0,269.401550,0.002164,1,1,-0.210382,-0.283942
2015-01-27,28000.0,27480.0,27500.0,28000.0,9957200.0,271.535034,0.007919,1,1,-0.019333,-0.210382
2015-01-28,27800.0,27480.0,27720.0,27560.0,10831500.0,267.268097,-0.015714,0,0,0.087806,-0.019333
2015-01-29,27900.0,27140.0,27360.0,27200.0,13702250.0,263.776917,-0.013062,0,0,0.265037,0.087806
2015-01-30,27540.0,27200.0,27200.0,27300.0,16110000.0,264.746674,0.003676,1,1,0.175719,0.265037
2015-02-02,27540.0,27120.0,27300.0,27360.0,10521000.0,265.328522,0.002198,1,1,-0.346927,0.175719
2015-02-03,27600.0,27180.0,27600.0,27320.0,5654400.0,264.940643,-0.001462,0,0,-0.462561,-0.346927
2015-02-04,27620.0,27180.0,27500.0,27180.0,9328900.0,263.583008,-0.005124,0,0,0.649848,-0.462561
2015-02-05,27380.0,26920.0,27180.0,27160.0,6770400.0,263.389038,-0.000736,0,0,-0.274255,0.649848
2015-02-06,27480.0,26720.0,26920.0,27440.0,8005050.0,266.104340,0.010309,1,1,0.182360,-0.274255
2015-02-09,27980.0,27140.0,27200.0,27900.0,8693500.0,270.565308,0.016764,1,1,0.086002,0.182360
2015-02-10,28000.0,27540.0,28000.0,27560.0,6519350.0,267.268097,-0.012186,0,0,-0.250089,0.086002
2015-02-11,27480.0,27080.0,27480.0,27100.0,9973800.0,262.807129,-0.016691,0,0,0.529876,-0.250089
...,...,...,...,...,...,...,...,...,...,...,...
2018-12-20,39100.0,38500.0,38600.0,38650.0,11937617.0,38293.230469,-0.011509,0,0,0.200721,-0.099625
2018-12-21,38650.0,38100.0,38200.0,38650.0,14947080.0,38293.230469,0.000000,1,1,0.252099,0.200721
2018-12-24,39050.0,38300.0,38500.0,38800.0,9729530.0,38441.843750,0.003881,1,1,-0.349068,0.252099
2018-12-26,38750.0,38300.0,38400.0,38350.0,12707675.0,37996.000000,-0.011598,0,0,0.306093,-0.349068
2018-12-27,38800.0,38100.0,38700.0,38250.0,10510643.0,38250.000000,0.006685,1,1,-0.172890,0.306093
2018-12-28,38900.0,38200.0,38250.0,38700.0,9900267.0,38700.000000,0.011765,1,1,-0.058072,-0.172890
2019-01-02,39400.0,38550.0,39400.0,38750.0,7847664.0,38750.000000,0.001292,1,1,-0.207328,-0.058072
2019-01-03,38550.0,37450.0,38300.0,37600.0,12471493.0,37600.000000,-0.029677,0,0,0.589198,-0.207328
2019-01-04,37600.0,36850.0,37450.0,37450.0,14108958.0,37450.000000,-0.003989,0,0,0.131297,0.589198
2019-01-07,38900.0,37800.0,38000.0,38750.0,12748997.0,38750.000000,0.034713,1,1,-0.096390,0.131297
2019-01-08,39200.0,37950.0,38000.0,38100.0,12756554.0,38100.000000,-0.016774,0,0,0.000593,-0.096390
2019-01-09,39600.0,38300.0,38650.0,39600.0,17452708.0,39600.000000,0.039370,1,1,0.368137,0.000593
2019-01-10,40150.0,39600.0,40000.0,39800.0,14731699.0,39800.000000,0.005051,1,1,-0.155908,0.368137
2019-01-11,40550.0,39950.0,40350.0,40500.0,11661063.0,40500.000000,0.017588,1,1,-0.208437,-0.155908
2019-01-14,40700.0,39850.0,40450.0,40050.0,11984996.0,40050.000000,-0.011111,0,0,0.027779,-0.208437
2019-01-15,41100.0,39850.0,40050.0,41100.0,11492756.0,41100.000000,0.026217,1,1,-0.041071,0.027779
2019-01-16,41450.0,40700.0,41150.0,41450.0,8491595.0,41450.000000,0.008516,1,1,-0.261135,-0.041071
2019-01-17,42100.0,41450.0,41700.0,41950.0,11736903.0,41950.000000,0.012063,1,1,0.382179,-0.261135
2019-01-18,42400.0,41950.0,42000.0,42300.0,11029256.0,42300.000000,0.008343,1,1,-0.060292,0.382179
2019-01-21,42750.0,41900.0,42700.0,42750.0,11355701.0,42750.000000,0.010638,1,1,0.029598,-0.060292
2019-01-22,42850.0,41850.0,42750.0,42150.0,9964356.0,42150.000000,-0.014035,0,0,-0.122524,0.029598
2019-01-23,42250.0,41350.0,41350.0,42000.0,11071079.0,42000.000000,-0.003559,0,0,0.111068,-0.122524
2019-01-24,43100.0,42350.0,43050.0,43050.0,14747623.0,43050.000000,0.025000,1,1,0.332085,0.111068
2019-01-25,44750.0,43750.0,44300.0,44750.0,22789395.0,44750.000000,0.039489,1,1,0.545293,0.332085
2019-01-28,45500.0,44600.0,45000.0,45050.0,17998914.0,45050.000000,0.006704,1,1,-0.210207,0.545293
2019-01-29,45500.0,44350.0,45050.0,45500.0,16215017.0,45500.000000,0.009989,1,1,-0.099111,-0.210207
2019-01-30,46400.0,44800.0,44800.0,46400.0,17505980.0,46400.000000,0.019780,1,1,0.079615,-0.099111
2019-01-31,47050.0,46150.0,46650.0,46150.0,21621145.0,46150.000000,-0.005388,0,0,0.235072,0.079615
2019-02-01,46950.0,46250.0,46650.0,46350.0,13832454.0,46350.000000,0.004334,1,1,-0.360235,0.235072
2019-04-25,45000.0,44100.0,44250.0,44750.0,7670681.0,44750.000000,-0.034520,0,0,-0.445458,-0.360235

In [0]:
train
test

In [0]:
result = sm.ols(formula="Y ~ lag_X", data=train).fit()
print(result.summary())
print(result.params)

                            OLS Regression Results
==============================================================================
Dep. Variable:                      Y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                    0.8446
Date:                Thu, 25 Apr 2019   Prob (F-statistic):              0.358
Time:                        07:02:44   Log-Likelihood:                -2705.4
No. Observations:                3738   AIC:                             5415.
Df Residuals:                    3736   BIC:                             5427.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.5309      0.008     65.022      0.000       0.515       0.547
lag_X          0.0002      0.000      0.919      0.358      -0.000       0.001
==============================================================================
Omnibus:                    13207.027   Durbin-Watson:                   1.932
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              622.872
Skew:                          -0.124   Prob(JB):                    5.56e-136
Kurtosis:                       1.016   Cond. No.                         31.5
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
Intercept    0.530897
lag_X        0.000239
dtype: float64

In [0]:
result.params[0], result.params[1]

(0.5308973064145802, 0.0002385140217611511)

In [0]:
test['y_predict']=result.params[0] + result.params[1] * test['lag_X']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
test['y_hat'] = (test['y_predict'] > test['y_predict'].mean()) * 1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
test.head()

,High,Low,Open,Close,Volume,Adj Close,ret,up,Y,X,lag_X,y_predict,y_hat
Date,,,,,,,,,,,,,
2015-03-09,28800.0,28400.0,28800.0,28400.0,7814600.0,275.414124,-0.015257,0,0,-0.333992,0.220257,0.530950,1
2015-03-10,28860.0,28400.0,28680.0,28420.0,10419850.0,275.608093,0.000704,1,1,0.333382,-0.333992,0.530818,0
2015-03-11,29580.0,28360.0,28380.0,29480.0,21108650.0,285.887604,0.037298,1,1,1.025811,0.333382,0.530977,1
2015-03-12,29460.0,28940.0,29200.0,28940.0,19153200.0,280.650879,-0.018317,0,0,-0.092637,1.025811,0.531142,1
2015-03-13,29580.0,29100.0,29220.0,29140.0,9413100.0,282.590424,0.006911,1,1,-0.508536,-0.092637,0.530875,0

In [0]:
test.shape

(961, 13)

In [0]:
np.sum((test['Y'] == test['y_hat'])*1)/961

0.4994797086368366

In [0]:
AAPL.std()

High         1.075330e+04
Low          1.055302e+04
Open         1.065542e+04
Close        1.065218e+04
Volume       6.601660e+06
Adj Close    1.381808e+04
dtype: float64

In [0]:
AAPL.quantile(q=[0,0.25,0.5,0.75,1.0])

         High      Low     Open    Close      Volume     Adj Close
0.00  13940.0  13440.0  13680.0  13600.0         0.0      5.325992
0.25  22670.0  22210.0  22400.0  22500.0   9829875.0     23.118948
0.50  26700.0  26200.0  26420.0  26480.0  12466250.0     69.875519
0.75  32790.0  31960.0  32130.0  32390.0  16528350.0   1613.500610
1.00  57520.0  56760.0  57500.0  57220.0  64681300.0  51733.824219

In [0]:
AAPL.describe()

,High,Low,Open,Close,Volume,Adj Close
count,2243.000000,2243.000000,2243.000000,2243.000000,2.243000e+03,2243.000000
mean,29392.407490,28811.649576,29106.736514,29105.167187,1.408759e+07,6614.506696
std,10753.303465,10553.021156,10655.418420,10652.182569,6.601660e+06,13818.079372
min,13940.000000,13440.000000,13680.000000,13600.000000,0.000000e+00,5.325992
25%,22670.000000,22210.000000,22400.000000,22500.000000,9.829875e+06,23.118948
50%,26700.000000,26200.000000,26420.000000,26480.000000,1.246625e+07,69.875519
75%,32790.000000,31960.000000,32130.000000,32390.000000,1.652835e+07,1613.500610
max,57520.000000,56760.000000,57500.000000,57220.000000,6.468130e+07,51733.824219

In [0]:
AAPL.describe()

,High,Low,Open,Close,Volume,Adj Close
count,2243.000000,2243.000000,2243.000000,2243.000000,2.243000e+03,2243.000000
mean,29392.407490,28811.649576,29106.736514,29105.167187,1.408759e+07,6614.506696
std,10753.303465,10553.021156,10655.418420,10652.182569,6.601660e+06,13818.079372
min,13940.000000,13440.000000,13680.000000,13600.000000,0.000000e+00,5.325992
25%,22670.000000,22210.000000,22400.000000,22500.000000,9.829875e+06,23.118948
50%,26700.000000,26200.000000,26420.000000,26480.000000,1.246625e+07,69.875519
75%,32790.000000,31960.000000,32130.000000,32390.000000,1.652835e+07,1613.500610
max,57520.000000,56760.000000,57500.000000,57220.000000,6.468130e+07,51733.824219

## merge or join

## Model

In [0]:
result = sm.ols(formula="High ~ Low + Open", data=AAPL).fit()
#print(result.params)
#print(result.summary())

In [0]:
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   High   R-squared:                       0.999
Model:                            OLS   Adj. R-squared:                  0.999
Method:                 Least Squares   F-statistic:                 2.122e+06
Date:                Thu, 25 Apr 2019   Prob (F-statistic):               0.00
Time:                        02:56:49   Log-Likelihood:                -15539.
No. Observations:                2243   AIC:                         3.108e+04
Df Residuals:                    2240   BIC:                         3.110e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     31.7356     15.179      2.091      0.037       1.969      61.502
Low            0.5340      0.019     28.249      0.000       0.497       0.571
Open           0.4802      0.019     25.648      0.000       0.443       0.517
==============================================================================
Omnibus:                     1496.848   Durbin-Watson:                   1.690
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            53345.973
Skew:                           2.637   Prob(JB):                         0.00
Kurtosis:                      26.302   Cond. No.                     1.27e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.27e+05. This might indicate that there are
strong multicollinearity or other numerical problems.